{% extends "template/base.html" %}
{% block title %}Veículos - Editar{% endblock %}
{% block content %}
            <div class="page-header">
                <h3>Cadastro de Veículos - Editar</h3>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-arrow-left"></span>  Voltar</a>
                </div>
                <div class="panel-body">
                    <form id="employee-entry" class="form-horizontal" role="form" method="post" action="/edit">
                        <input type="hidden" name="id" value = "{{veiculo.key().id()}}">
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="modelo">Modelo</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="modelo" name="modelo" value="{{veiculo.modelo}}" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="fabricante">Fabricante</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="fabricante" name="fabricante" value="{{veiculo.fabricante}}" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="">Ano Fabricação</label>
                            <div class="col-lg-4">
                                <select id="class" class="form-control" name="ano_fabricacao">
                                    <option {% if veiculo.ano_fabricacao == '2001'%}selected{% endif %}>2001</option>
                                    <option {% if veiculo.ano_fabricacao == '2002'%}selected{% endif %}>2002</option>
                                    <option {% if veiculo.ano_fabricacao == '2003'%}selected{% endif %}>2003</option>
                                    <option {% if veiculo.ano_fabricacao == '2004'%}selected{% endif %}>2004</option>
                                    <option {% if veiculo.ano_fabricacao == '2005'%}selected{% endif %}>2005</option>
                                    <option {% if veiculo.ano_fabricacao == '2006'%}selected{% endif %}>2006</option>
                                    <option {% if veiculo.ano_fabricacao == '2007'%}selected{% endif %}>2007</option>
                                    <option {% if veiculo.ano_fabricacao == '2008'%}selected{% endif %}>2008</option>
                                    <option {% if veiculo.ano_fabricacao == '2009'%}selected{% endif %}>2009</option>
                                    <option {% if veiculo.ano_fabricacao == '2010'%}selected{% endif %}>2010</option>
                                    <option {% if veiculo.ano_fabricacao == '2011'%}selected{% endif %}>2011</option>
                                    <option {% if veiculo.ano_fabricacao == '2012'%}selected{% endif %}>2012</option>
                                    <option {% if veiculo.ano_fabricacao == '2013'%}selected{% endif %}>2013</option>
                                    <option {% if veiculo.ano_fabricacao == '2014'%}selected{% endif %}>2014</option>
                                    <option {% if veiculo.ano_fabricacao == '2015'%}selected{% endif %}>2015</option>
                                    <option {% if veiculo.ano_fabricacao == '2016'%}selected{% endif %}>2016</option>
                                    <option {% if veiculo.ano_fabricacao == '2017'%}selected{% endif %}>2017</option>
                                </select>
                            </div>                    
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="">Ano Modelo</label>
                            <div class="col-lg-4">
                                <select id="class" class="form-control" name="ano_modelo">
                                 <option {% if veiculo.ano_modelo == '2001'%}selected{% endif %}>2001</option>
                                    <option {% if veiculo.ano_modelo == '2002'%}selected{% endif %}>2002</option>
                                    <option {% if veiculo.ano_modelo == '2003'%}selected{% endif %}>2003</option>
                                    <option {% if veiculo.ano_modelo == '2004'%}selected{% endif %}>2004</option>
                                    <option {% if veiculo.ano_modelo == '2005'%}selected{% endif %}>2005</option>
                                    <option {% if veiculo.ano_modelo == '2006'%}selected{% endif %}>2006</option>
                                    <option {% if veiculo.ano_modelo == '2007'%}selected{% endif %}>2007</option>
                                    <option {% if veiculo.ano_modelo == '2008'%}selected{% endif %}>2008</option>
                                    <option {% if veiculo.ano_modelo == '2009'%}selected{% endif %}>2009</option>
                                    <option {% if veiculo.ano_modelo == '2010'%}selected{% endif %}>2010</option>
                                    <option {% if veiculo.ano_modelo == '2011'%}selected{% endif %}>2011</option>
                                    <option {% if veiculo.ano_modelo == '2012'%}selected{% endif %}>2012</option>
                                    <option {% if veiculo.ano_modelo == '2013'%}selected{% endif %}>2013</option>
                                    <option {% if veiculo.ano_modelo == '2014'%}selected{% endif %}>2014</option>
                                    <option {% if veiculo.ano_modelo == '2015'%}selected{% endif %}>2015</option>
                                    <option {% if veiculo.ano_modelo == '2016'%}selected{% endif %}>2016</option>
                                    <option {% if veiculo.ano_modelo == '2017'%}selected{% endif %}>2017</option>
                                    <option {% if veiculo.ano_modelo == '2018'%}selected{% endif %}>2018</option>                           
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="">Cor</label>
                            <div class="col-lg-4">
                                <input type="text" class="form-control" id="cor" name="cor" value="{{veiculo.cor}}" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-4">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
{% endblock %}
{% block footer_script %}
    <script>
        // jQuery plugin to prevent double submission of forms
        jQuery.fn.preventDoubleSubmission = function () {
            $(this).on('submit', function (e) {
                var $form = $(this);

                if ($form.data('submitted') === true) {
                    // Previously submitted - don't submit again
                    e.preventDefault();
                } else {
                    // Mark it so that the next submit can be ignored
                    $form.data('submitted', true);
                }
            });
            return this;
        };
    </script>   
{% endblock %}